#current-mods img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 30px;
  border: 5px solid;
  border-radius: 90px;
}
#current-mods {
  display: flex;
  gap: 30px;
}
#current-mods {
  color: aliceblue;
}
h1 {
  text-align: center;
  color: aliceblue;
}

* {
  background-color: #202225;
}
.srmod {
  color: rgb(254, 92, 135);
  font-weight: 500;
  font-size: 1rem;
}
.admin {
  color: rgb(2, 182, 156);;
}
.mod{
  color: rgb(254, 142, 0);
  font-weight: 500;
  font-size: 1rem;
}
h2 {
  text-align: center;
  color: aliceblue;
}

a {
  color: inherit;
}
.results {
  color: aliceblue;
  font-size: larger;
}
img {
  width: 75px;
  height: 75px;
}
.final-note {
  color: aliceblue;
  visibility: hidden;
}
button {
  font-size: larger;
  color: aliceblue;
}

.mod-border:hover{
  animation-duration: 0.5s;
  animation-name: press;
}
@keyframes press {
  from {
    border-width: 5px;
  }
  to {
    border-width: 0;
  }
}

